@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.timeline-image:last-of-type {

	animation: spin 6s infinite linear !important;

}



#resume div {
	display: none;
	opacity: 0;
	    transition: all 1s ease-in;
}
#resume:hover div {
/*	display: block;
opacity: 1;*/




	}
#resume:hover div img {
	width: 300px;
	height: 400px;
	position: absolute;
	left: 60%;
	top: 10%;
	z-index: 3050;
}