/* Small phones from 0 to 480px */

@media only screen and (max-width: 480px) {

	.main-navigation,
.features-section,
.download-app-section,
.nav,
nav,
header,
footer {
    max-width: 380px;
    	margin: 0;
	  /*border: 1px solid red;*/
}

/*NAVIGATION*/
nav a {
	margin-top: 30px;
}

#toggle:checked + .hamburger + .nav {
    top: 100px;
  }



.main-navigation {
	position: relative;
}

.main-navigation img {
	width: 60px;
}

h1 {
    font-size: 30px;
}

h2, nav a {
	font-size: 24px;
}

h3 {
		font-size: 16px;
 }



.intro-text {
	padding-top: 100px;
}
.hamburger {
	top: 20px;
	left: 310px;
}
.logo-wrapper {
	top: 10px;
}

	.mobi-hide {
		display: none;
	}

.logo-img {
		padding-left: 20px;
    animation: none;
}


/*BUTTONS*/
a.call-to-action {
    padding: 15px 55px;

}


/*SECTIONS*/

.screens-section img {

	    width: 50px;
}

}