
/* ---------------- REUSABLE TEXT COLORS ---------------*/

.grey-text {
    color: #66778e;
    line-height: 2rem;
}

.white-text {
    color: #fff;
}

.blue-text {
    color: #14396a;
}



/* --------------- REUSABLE TEXT PROPERTIES --------------*/

.small-text {
    font-size: 1.2rem;
}

.font-regular {
    font-weight: 400;
}

.font-bold {
    font-weight: 700;
}



/* -------------------- REUSABLE MARGINS ------------------*/

.mb25 {
    margin-bottom: 25px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb60 {
    margin-bottom: 60px;
}

.mb75 {
    margin-bottom: 75px;
}

.mb110 {
    margin-bottom: 110px;
}

.mb200 {
    margin-bottom: 200px;
}

/* --------------------- CLEARING FLOATS ------------------*/

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* -- only needed for old IE --- */
.clearfix {
    *zoom: 1;
} 


/* ----- DISPLAY -----*/


.inline-block {
    display: inline-block;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.centered {
    text-align: center;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.indent10 {
    padding-left: 10px;
}

.indent20 {
    padding-left: 20px;
}